body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 264px;
    width: 640px;
    background-color: #fff;
    text-align: center;
    font-family: 'Sora', sans-serif;
}
.container h1{
    text-align: center;
    font-size: 26px;
    margin-top: 40px;
    font-family: 'Sora', sans-serif;
}
.container p{
    font-size: 14px;
    margin-right: 450px;
}

.exit{
    height: 48px;
    width: 608px;
    font-size: 14px;
    border-radius: 4px;
    border: 0.5px solid #AEAEAE;
}
.next{
    height: 48px;
    width: 384px;
    background-color: #232529;
    color: #fff;
    text-align: center;
    margin-top: 16px;
    font-size: 20px;
    border-radius: 4px;
}

.link{
    color: #ffffff;
    text-decoration: none;
}

/*ВТОРОЙ БЛОК*/
.container-first{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 328px;
    width: 640px;
    background-color: #fff;
    text-align: center;
    font-family: 'Sora', sans-serif;
}
.container-first h1{
    text-align: center;
    font-size: 26px;
    margin-top: 40px;
    font-family: 'Sora', sans-serif;
}
.container-first p{
    font-size: 14px;
    margin-right: 450px;
}

.exit-first{
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    /*background-color: aqua;*/
    text-align: center;
    margin-left: 450px;
    color: #A9A9A9;
    font-size: 14px;
    margin-bottom: 40px;
}

.next-first{
    height: 48px;
    width: 384px;
    background-color: #232529;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    border-radius: 4px;
}
.three{
    height: 48px;
    width: 48px;
    border-radius: 12px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    border: 0.5px solid #AEAEAE;
}

/*Третий блок*/

.block_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*gap: 8px;*/
    width: 664px;
    height: 576px;
    background-color: #fff;
}
.block_3 h1{
    margin-right: 300px;
    font-family: 'Sora',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
}
.p1{
    margin-right: 490px;
    margin-bottom: 16px;
    margin-top: 0;
    font-family: 'Sora',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.p2{
    margin-right: 460px;
    margin-bottom: 16px;
    margin-top: 0;
    font-family: 'Sora',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.data{
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}
 .id_data{
     text-align: center;


 }
.border-200{
    width: 192px;
    height: 42px;
    border-radius: 8px;
    margin-bottom: 16px;
    border: 0.5px solid #AEAEAE;
}
.border-400{
    width: 400px;
    height: 42px;
    border-radius: 8px;
    margin-bottom: 16px;
    border: 0.5px solid #AEAEAE;
}
.border-last{
    margin-right: 200px;
}

.next-second{
    height: 48px;
    width: 384px;
    background-color: #232529;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    border-radius: 4px;

.block_three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 664px;
    height: 608px;
    background-color: #fff;
    border-radius: 8px;
}
.block_three h1{
    margin-right: 390px;
    font-family: 'Sora',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 24px;
    color: #000000;
}

.par_2{
    margin-right: 470px;
    margin-bottom: 5px;
    margin-top: 0;
    font-family: 'Sora',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}
.name_border{
    margin-left: 20px;
}
.data_input{
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 24px;
}
.id_data_input{
    text-align: center;


}
.border-200_b{
    width: 200px;
    height: 42px;
    border-radius: 8px;
    margin-bottom: 16px;
    border: 0.5px solid #AEAEAE;
}
.border-300{
    width: 300px;
    height: 42px;
    border-radius: 8px;
    margin-bottom: 16px;
    border: 0.5px solid #AEAEAE;

}
.border-600{
    width: 620px;
    height: 42px;
    border-radius: 8px;
    margin-bottom: 16px;
    border: 0.5px solid #AEAEAE;

}
.border-400_b{
    width: 400px;
    height: 42px;
    border-radius: 8px;
    margin-bottom: 16px;
    border: 0.5px solid #AEAEAE;

}

.sel0{
    margin-right: 220px;
    color: #AEAEAE;
}
.sel1{
    color: #AEAEAE;
}

.next-second_by{
    height: 48px;
    width: 384px;
    background-color: #232529;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 4px;