body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 264px;
    width: 640px;
    background-color: #fff;
    text-align: center;
    font-family: 'Sora', sans-serif;
}
.container h1{
    text-align: center;
    font-size: 26px;
    margin-top: 40px;
    /*font-family: 'Sora', sans-serif;*/
}
.container p{
    font-size: 14px;
    margin-right: 450px;
}

.exit{
    height: 48px;
    width: 608px;
    font-size: 14px;
    border-radius: 4px;
}
.next{
    height: 48px;
    width: 384px;
    background-color: #232529;
    color: #fff;
    text-align: center;
    margin-top: 16px;
    font-size: 20px;
    border-radius: 4px;
}

/*ВТОРОЙ БЛОК*/
.container-first{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 328px;
    width: 640px;
    background-color: #fff;
    text-align: center;
    font-family: 'Sora', sans-serif;
}
.container-first h1{
    text-align: center;
    font-size: 26px;
    margin-top: 40px;
    /*font-family: 'Sora', sans-serif;*/
}
.container-first p{
    font-size: 14px;
    margin-right: 450px;
}

.exit-first{
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    /*background-color: aqua;*/
    text-align: center;
    margin-left: 450px;
    color: #A9A9A9;
    font-size: 14px;
    margin-bottom: 40px;
}
.next-first{
    height: 48px;
    width: 384px;
    background-color: #232529;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    border-radius: 4px;
}
.three{
    height: 48px;
    width: 48px;
    border-radius: 12px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}

Третий блок

.block_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 664px;
    height: 576px;
}
.border-200{
    width: 200px;
    height: 48px;
}
.border-400{
    width: 408px;
    height: 48px;
}